* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #0b0c13;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.header {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  gap: 15px;
}
.nav_item {
  background: linear-gradient(130deg, #2e51da, #586fc9);
  padding: 10px 25px;

  border-radius: 0.5rem;
  cursor: pointer;

  transition: 0.3s;
}
.nav_item:active {
  transform: scale(0.95);
}
.title {
  background: linear-gradient(to right, #284fe1, #945bdf);
  -webkit-background-clip: text;
  color: transparent;

  font-size: 50px;
  text-align: center;
  margin: 70px 0 15px 0;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.info-table thead th {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
}

.info-table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.info-table tbody tr:nth-child(even) {
  background-color: #ffffffde;
  color: black;
}
.info-table tbody td:first-child {
  font-weight: bold;
}
.article {
  text-align: center;
}
.win_image {
  border-radius: 20px;
}
.article {
  overflow: hidden;
  position: relative;
}
.description {
  position: absolute;
  bottom: 0;

  background-color: rgba(112, 112, 112, 0.253);

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-top: 2px solid white;
  border-radius: 20px;
}
